#logger.conf
###############################################
#CRITICAL > ERROR > WARNING > INFO > DEBUG > NOTSET
[loggers]
keys=root

[logger_root]
level=DEBUG
handlers=consoleHandler,RotatingFileHander1

###############################################
[handlers]
keys=consoleHandler,RotatingFileHander1,RotatingFileHander2

[handler_consoleHandler]
class=StreamHandler
level=INFO
formatter=form01
args=(sys.stdout,)

[handler_RotatingFileHander1]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=form01
args=('./log/run.log', 'a', 10*1024*1024, 5, 'utf8')

[handler_RotatingFileHander2]
class=handlers.RotatingFileHandler
level=DEBUG
formatter=form02
args=('./log/run.log', 'a', 10*1024*1024, 5, 'utf8')
###############################################
[formatters]
keys=form01,form02

[formatter_form01]
format=%(asctime)s %(process)d [%(funcName)s %(filename)s:%(lineno)d] %(levelname)s %(message)s
datefmt=%Y-%m-%d %H:%M:%S

[formatter_form02]
format=%(asctime)s %(levelname)-8s %(message)s
datefmt=%Y-%m-%d %H:%M:%S